body {
  &:not(.admin-interface) {
    .topic-post {
      article {
        border-top: 1px solid $light-a015;
        .row {
          .topic-avatar {
            border-top: none;
          }
          .topic-body {
            border-top: none;
          }
        }
      }
    }
  }
}