// ------------------------------------------------------------------
// THEME COLORS
// ------------------------------------------------------------------

// Here you can change the main colors for the theme.

// Primary: A primary color from which the majority of other colors 
// is generated
$theme-primary: #27135c;

// Secondary: A ligther alternative to primary color, used for header 
// and some other elements
$theme-secondary: #473674; 

// Action: A vibrant color for call-to-action elements
$theme-action: #6812e6; 

// Danger: Warning for major actions like delete and similar
$theme-danger: #ff0000;

// Staff: Color for actions available only to staff members
$theme-staff: #ff0000;

// Also change the theme-color meta tag in the "common/head_tag.html"
// file. This should match the color for $theme-secondary. It is
// a color that some mobile browsers use for the address bar UI.

// Colors above apply to all public pages. If you wish to modify
// theme of the admin interface, edit the color scheme in the
// "about.json" file.