body {
  &:not(.admin-interface) {
    .btn-primary {
      @include rgba-hex(background, $theme-action, 0.85);
      transition: all 0.15s ease;
      svg {
        fill: $light-a085;
        transition: fill 0.15s ease;
      }
      span {
        color: $light-a085;
        transition: color 0.15s ease;
      }
      &:hover {
        background: $theme-action !important;
        svg {
          fill: $light-a100;
        }
        span {
          color: $light-a100;
        }
      }
    }
  }
}